@font-face {
    font-family: 'calligraphy';
    src: url(../fonts/HotNinja.otf);
    font-weight: bold;
}

html, body {
    margin:0;
    height:100%;
}
/*
header {


}
*/

header {
    background-color:transparent;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    height: 8%;
    margin: 0;
    z-index:1;
    font-family:'merriweather',sans-serif;
    color:white;
    font-weight:bold;

    text-shadow: 1px 1px darkgrey;
}

header.clone {
    position: fixed;
    background-color:black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    top: -65px;
    left: 0;
    right: 0;
    z-index: 999;
    transition: 0.2s top cubic-bezier(.3,.73,.3,.74);
    color: white;
    font-size:3vw;
    font-family:'merriweather',sans-serif;
}

header h3 {
    display:inline-block;
    float:right;
    top:0;
    margin-right:5%;
    font-size:1.2vw;
}

header a {
    text-decoration:none;
    color:white;
}

header img {
    display:none;
}

header.clone h3 {
    display:inline-block;
    float:right;
    top:0;
    margin-right:5%;
}

header.clone img {
    display:inline-block;
    float:left;
    top:0;
    margin-right:5%;

    font-size:1.2vw;
}


body.down header.clone {
    top: 0;
}
section {
    height:100%;
    width:100%;
}

.container {
    max-width:100% !important;
    width:100% !important;
    max-height:100% !important;
    height:100% !important;
    padding-left:0 !important;
    padding-right:0 !important;
    margin-left:0 !important;
    margin-right:0 !important;
}

.container-fluid {
    max-width:100% !important;
    width:100% !important;
    padding-left:0 !important;
    padding-right:0 !important;
    margin-left:0 !important;
    margin-right:0 !important;
}

.row {
    padding-left:5%;
    padding-right:5%;
    margin-left:0px !important;
    margin-right: 0px !important;
}

.splash{
    width:100%;
    height:100% !important;
    min-height:100% !important;
    background: url(../img/Camera1600.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

div #logo {
    margin-top:3%;
    position: relative;
    text-align: center;
    font-family:'merriweather', sans-serif;
    width:100%;

}

div #logo img {
    display:block;
    margin:auto;

}

#logo h1 {
    font-size:3vw;
    color:black;


    text-shadow: 1px 1px grey;
}

#logo h2 {
    font-size:2vw;
    color:black;


    text-shadow: 1px 1px grey;
}

div #socialMediaSplash {
    position:relative;
    text-align:center;
    font-size: 3.8vw;

}
.topIcons {
    color:white;
}

#cardEffect {
    margin-top:9%;
    background: url(../img/CameraBlurred.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-color:black;
    border-style: solid;
    border-width: thin;
    display:inline-block;

    margin-bottom:9%;
}
#splashButDownContainer {
    font-size:3vw;
    text-align:center;
    color:black;
}


#arrow {

    color:#2C3E50;
}

.aboutMe {
    padding-top:5%;
    max-height:100%;
    background-color:lightgrey;
    padding-bottom:5%;
}

section.aboutMe h3 {
    padding-top:5%;
    font-size:3vw;
    font-family:'merriweather', sans-serif;
    color: black;

    text-shadow: 2px 2px grey;
}

section.aboutMe p {
    padding-bottom:5%;
    color: #451E07;
    font-family:'merriweather', sans-serif;
    font-size:1.3vw;
    text-align:justify;
    font-weight:bold;
}
#profilePhoto {

    border-radius:10%;
    width:60%;
    height:auto;
    display:block;
    margin:auto;
}

.profilePhoto {
    padding-top:5%;
    padding-bottom:5%;
    position:relative;
    text-align:center;
    display:block;
    margin:auto;
}

.about {
    margin-left:7.5%;
    margin-right:7.5%;
}
section.fendPortfolio {
    width:100%;
    height:100%;
    background: url(../img/bgfaded.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family:'merriweather',sans-serif;
}
.headerRow {
    margin-top:1%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
    color:black;

}

.headerRow h4 {
    padding-top:5%;
    font-size:3vw;
    font-family: 'merriweather', sans-serif;
    color: black;

    text-shadow: 2px 2px grey;
}


section.fendPortfolio img {
    height:70%;
    width:60%;
    display:inline-block;
    margin:auto;
    border-radius: 10%;
}

i.gitLinks {
    display:inline-block;
    font-size:3vw;
    margin-left:5%;
    color:black;

    text-shadow: 2px 2px grey;
}


section.fendPortfolio b, section.otherPortfolio b {
    font-size: 1.6vw;
    font-weight: 900;
    color: black;
}
section.fendPortfolio em, section.otherPortfolio em {
    font-size:1.4vw;
    font-style:italic;
    font-weight: 800;
    color:#915B3B;
}
section.fendPortfolio p, section.otherPortfolio p {
    font-size:1.2vw;
    color:#451E07;
    font-weight: 700;
}



section.otherPortfolio {
    width:100%;
    height:100%;
    font-family: 'merriweather', sans-serif;
    background-color:white;

}

section.contact {
    width:100%;
    height:100%;
    background-color:black;
}

section.contact {
    color:white;
}

section.contact h4 {
    font-size:2vw;
    font-family:'merriweather',sans-serif;

    text-shadow: 2px 2px grey;
    display:inline-block;
}
section.contact i {
    display:inline-block;
    color:white;
    font-size:2vw;
    padding-left:5%;
    padding-top:2%;
    padding-bottom:2%;

    text-shadow: 2px 2px grey;

}
section.photography {

    background: url(../img/logswhite.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-bottom:5%;
}
section.photography img {
    padding-top:2%;
    padding-right:2%;
    height:auto;
    width:100%;
    display:inline-block;
    margin:auto;
    border-radius: 1%;
}