@font-face {
    font-family: 'calligraphy';
    src: url(../fonts/HotNinja.otf);
    font-weight: bold;
}

html, body {
    margin:0;
    height:100%;
}


section {
    height:100%;
    width:100%;
}

.container {
    max-width:100% !important;
    width:100% !important;
    max-height:100% !important;
    height:100% !important;
    padding-left:0 !important;
    padding-right:0 !important;
    margin-left:0 !important;
    margin-right:0 !important;
}

.container-fluid {
    max-width:100% !important;
    width:100% !important;
    padding-left:0 !important;
    padding-right:0 !important;
    margin-left:0 !important;
    margin-right:0 !important;
}

.row {
    padding-left:7.5%;
    padding-right:7.5%;
    margin-left:0px !important;
    margin-right: 0px !important;
}

.splash{
    width:100%;
    min-height:100% !important;
    background: url(../img/Camera1600.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

div #logo {
    margin-top:3%;
    position: relative;
    text-align: center;
    font-family:'calligraphy', sans-serif;
    width:100%;

}

div #logo img {
    display:block;
    margin:auto;
}

#logo h1 {
    font-size:4vw;
    color:black;
}

#logo h2 {
    font-size:3vw;
    color:black;
}

div #socialMediaSplash {
    position:relative;
    text-align:center;
    font-size: 3.8vw;

}
.topIcons {
    color:white;
}

#cardEffect {
    margin-top:10%;
    background: url(../img/CameraFrosted.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-color:black;
    border-style: solid;
    border-width: thin;
    display:inline-block;
}
#splashButDownContainer {
    font-size:3vw;
    text-align:center;
    color:black;
}


#arrow {

    color:#2C3E50;
}

.aboutMe {
    max-height:100%;
    background: url(../img/bgfaded.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section.aboutMe h3 {
    padding-top:5%;
    font-size:5vw;
    font-family:'calligraphy', sans-serif;
    color: #CF0F0D;
}

section.aboutMe p {
    padding-bottom:5%;
    color: black;
    font-family:'merriweather', sans-serif;
    font-size:1.3vw;
    text-align:justify;
    font-weight:bold;
}
#profilePhoto {

    border-radius:20%;
    width:60%;
    height:auto;
    display:block;
    margin:auto;
}

.profilePhoto {
    padding-top:5%;
    padding-bottom:5%;
    position:relative;
    text-align:center;
    display:block;
    margin:auto;
}

.about {
    margin-left:7.5%;
    margin-right:7.5%;
}
section.fendPortfolio {
    width:100%;
    height:100%;
    background-color:white;

    font-family:'merriweather',sans-serif;
}
.headerRow {
    margin-top:1%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
    color:black;

}

.headerRow h4 {

    font-size:5vw;
    font-family: 'calligraphy', sans-serif;
    color: #172936;
}


section.fendPortfolio img {
    height:70%;
    width:60%;
    display:inline-block;
    margin:auto;
    border-radius: 10%;
}

i.gitLinks {
    display:inline-block;
    font-size:3vw;
    margin-left:5%;
    color:black;

}

section.fendPortfolio b, section.otherPortfolio b {
    font-size: 1.6vw;
    font-weight: 900;
    color: #172936;
}
section.fendPortfolio em, section.otherPortfolio em {
    font-size:1.4vw;
    font-style:italic;
    font-weight: 800;
    color:#199C8B;
}
section.fendPortfolio p, section.otherPortfolio p {
    font-size:1.2vw;
    color:black;
    font-weight: 700;
}

section.otherPortfolio {
    width:100%;
    height:100%;
    background: url(../img/camerasrowwhite.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section.contact {
    width:100%;
    height:100%;
    background: url(../img/CameraFrosted.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}