@font-face {
    font-family: 'calligraphy';
    src: url(../fonts/HotNinja.otf);
    font-weight: bold;
}

html, body {
    margin:0;
    height:100%;
}


section {
    height:100%;
    width:100%;
}

.container-fluid {
    max-width:100% !important;
    width:100% !important;
    padding-left:0 !important;
    padding-right:0 !important;
    margin-left:0 !important;
    margin-right:0 !important;
}

.row {
    padding-left:5%;
    padding-right:5%;
    margin-left:0px !important;
    margin-right: 0px !important;
}

.splash{
    width:100%;
    height:100%;
    background: url(../img/Camera1600.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

div #logo {
    position: relative;
    text-align: center;
    font-family:'calligraphy', sans-serif;
    width:100%;

}

div #logo img {
    display:block;
    margin:auto;
}

#logo h1 {
    font-size:4vw;
    color:black;
}

#logo h2 {
    font-size:3vw;
    color:black;
}

div #socialMediaSplash {
    position:relative;
    text-align:center;
    font-size: 3.8vw;

}
.topIcons {
    color:white;
}

#cardEffect {
    margin-top:5%;
    background: url(../img/CameraFrosted.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-color:black;
    border-style: solid;
    border-width: thin;
    display:inline-block;
}
#splashButDownContainer {
    font-size:3vw;
    text-align:center;
    color:black;
}


#arrow {

    color:#2C3E50;
}

.aboutMe {
    max-height:100%;
    background-color:grey;
}

section.aboutMe h3 {
    font-size:5vw;
    font-family:'calligraphy', sans-serif;
    color: #2C3E50;
}

section.aboutMe p {
    color: #2980B9;
    font-family:'merriweather', sans-serif;
    font-size:1.3vw;
    text-align:justify;
    font-weight:bold;
}
#profilePhoto {

    border-radius:20%;
    width:60%;
    height:auto;
    display:block;
    margin:auto;
}

.profilePhoto {
    position:relative;
    text-align:center;
    display:block;
    margin:auto;
}
.about {
    padding-top:5%;
    height:40%;
}

section.fendPortfolio {
    width:100%;
    height:100%;
    background: url(../img/CameraFrosted.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.headerRow {
    margin-top:1%;
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align:center;
    color:black;

}

.headerRow h4 {

    font-size:5vw;
}

section.fendPortfolio img {
    height:60%;
    width:50%;
    display:block;
    margin:auto;
}

section.fendPortfolio b {
    font-size: 1.6vw;
    font-style:oblique;
}
section.fendPortfolio em {
    font-size:1.4vw;
    font-style:italic;
}
section.fendPortfolio p {
    font-size:1.2vw;
    font-style:oblique;
}
section.otherPortfolio {
    width:100%;
    height:100%;
    background-color:white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section.contact {
    width:100%;
    height:100%;
    background: url(../img/CameraFrosted.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}